.pet-card-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pet-card-details-img-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pet-card-details-img-container {
  background-color: #EEE2D0;
  width: 500px;
  height: auto;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-card-details-text {
  border: #EEE2D0 1px solid;
  border-radius: 10px;
  width: 600px;
  height: auto;
  margin: 30px;
  padding: 10px;
}

.pet-card-details-img-cards {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.pet-card-details-img-card {
  border: 1px black solid;
}

.pet-card-details-img-cards img {
  width: 90px;
  height: auto;
}

.pet-card-details-img-main {
  margin: 10px 50px;
}

.pet-card-details-img-main img{
  width: 90%;
  height: auto;
}