.pet-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 350px;
  height: auto;
  background-color: #9C824F;
  border: solid 1px #EEE2D0;
}

.pet-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.pet-card-infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pet-card-info {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pet-card-info h5 {
  font-size: 14px;
  color: #FFFFFF;
}

.adopet-card-buttons {
  display: flex;
  flex-direction: column;
}

.adopet-card-buttons button {
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
