.pet-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 350px;
  height: auto;
  background-color: #9C824F;
}

.pet-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 10px;
}


.pet-card-info {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pet-card-info h5 {
  font-size: 14px;
  color: #FFFFFF;
}
