.navbar-container {
    height: 80px;
}

.adopet-navbat-logo {
    color: #FFFF;
}

.adopet-navbat-logo img {
    width: 100px;
}

.adopet-navbar-buttons button {
	margin-right: 15px;
}

.adopet-navbar-buttons svg {
    margin-right: 15px;
}