.adopet-footer-container {
  height: 200px;
}

.adopet-footer-text {
  padding: 15px;
}

.adopet-footer-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.adopet-footer-icon svg {
  margin-right: 10px;
}